<form action="/square_root/results">
  <label for="sqrt_a_num">Enter a number </label>
  <dl>
  </dl>
  <input id="sqrt_a_num" type="text" placeholder="What number do you want to find the square root of?" name="sqrt">
  <dl>
  </dl>
  <button>Calculate square</button>
</form>
