<form action="/square/results">
  <label for="square_a_num">Enter a number </label>
  <dl>
  </dl>
  <input id="square_a_num" type="text" placeholder="What number do you want to square?" name="number">
  <dl>
  </dl>
  <button>Calculate square</button>
</form>
