<h1>hello</h1>

<form action="/square/results">
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder="What number do you want to square?" name="number">

  <button>Calculate square</button>
</form>
<a href="https://wikipedia.org">Go to wikipedia</a>
